<!-- IF S_SURVEY_ALLOWED -->
	<dl>
		<dt><label for="survey_enabled">{L_SURVEY_ADD}{L_COLON}</label></dt>
		<dd>
			<!-- IF S_TOPIC_HAS_SURVEY -->
				<input type="hidden" name="survey_enabled" value="true"/>
				{L_SURVEY_VIEWTOPIC_EXPLAIN}
			<!-- ELSE -->
				<label for="survey_enabled"><input type="checkbox" id="survey_enabled" name="survey_enabled"<!-- IF S_TOPIC_HAS_SURVEY --> checked="checked"<!-- ENDIF --> /><!-- IF S_TOPIC_HAS_INACTIVE_SURVEY -->{L_SURVEY_ADD_REACTIVATE}<!-- ELSE -->{L_SURVEY_ADD_DESC}<!-- ENDIF --></label>
				<!-- IF S_TOPIC_HAS_INACTIVE_SURVEY --><br/>{L_SURVEY_ADD_REACTIVATE_EXPLAIN}<!-- ENDIF -->
			<!-- ENDIF -->
		</dd>
	</dl>
<!-- ENDIF -->
