#survey-intro, #survey-error-box, #survey-table, #survey-submit {
	margin: 1em;
}

#survey-error-box {
	color: red;
	font-size: 12px;
}

fieldset input.submit {
	display: block;
	float: right;
}

table.survey, table.survey th, table.survey td {
	border-collapse:collapse;
}

table.survey th, table.survey td {
	border: 1px solid black;
}
table.survey td.spacerow {
	height: 10px;
	border-left: none;
	border-right: none;
	border-bottom: 3px double black;
}

div.no-owner {
	margin-top: 4px;
}

#survey-table table th {
	color: inherit;
}

div.summary {
	float: left;
	color: black;
}

div.cap-reached {
	float: left;
	color: red;
}

div.new-bg, td.new-bg, select.new-bg, option.new-bg, input.new-bg, textarea.new-bg {
	background: #BBF0C0;
}
div.set-bg, td.set-bg, select.set-bg, option.set-bg, input.set-bg, textarea.set-bg {
	background: #FEFEFE;
}
div.unset-bg, td.unset-bg, select.unset-bg, option.unset-bg, input.unset-bg, textarea.unset-bg {
	background: #ABABAB;
}

@media all and (max-width: 700px), all and (max-device-width: 700px) {
	.survey_hidemobile {
		display:none;
	}
	tr td:first-child dfn {
		display:none !important;
	}
	.summary-box {
		width:60%;
		min-width:150px;
		float:right;
	}
}

input[type=number].survey_q_input {
	width: 80px;
}

@media all and (min-width: 700px) {
	#survey-table-scrollwrapper {
		overflow: auto;
	}
}
