<div style="clear:both"></div>
<!-- <style type="text/css">
#survey-table, #survey-tabs-boundary{
	display: none;
}
</style> -->
<script>
function toggle_survey_table() {
	if(document.getElementById('survey-table').style.display == 'block') {
		var link_text = '{L_SURVEY_SHOW}';
		var set_display = 'none';
	}
	else {
		var link_text = '{L_SURVEY_HIDE}';
		var set_display = 'block';
	}
	document.getElementById('show-survey-link').innerHTML = link_text;
	
	document.getElementById('survey-table').style.display = set_display;
	if(document.getElementById('survey-tabs-boundary')) document.getElementById('survey-tabs-boundary').style.display = set_display;
}
</script>

<!-- IF S_SURVEY_IS_WRITE_OWNER -->
<div id="survey-tabs-boundary">
<div id="tabs" class="sub-panels" role="tablist" data-show-panel="<!-- IF S_SURVEY_LOADED_QUESTION -->manage-questions-panel<!-- ELSE -->survey-overview-panel<!-- ENDIF -->">
	<ul>
		<li id="survey-overview-panel-tab" class="tab activetab"><a href="#tabs" aria-controls="survey-overview-panel" role="tab" data-subpanel="survey-overview-panel"><span>{L_SURVEY_OVERVIEW}</span></a></li>
		<li id="settings-tab" class="tab"><a href="#tabs" aria-controls="settings-panel" role="tab" data-subpanel="settings-panel"><span>{L_SURVEY_SETTINGS}</span></a></li>
		<li id="manage-question-panel-tab" class="tab"><a href="#tabs" aria-controls="manage-questions-panel" role="tab" data-subpanel="manage-questions-panel"><span>{L_SURVEY_MANAGE_QUESTIONS}</span></a></li>
	</ul>
</div>
<!-- ENDIF -->

<div class="<!-- IF not S_SURVEY_IS_WRITE_OWNER -->no-owner <!-- ENDIF -->panel bg3" id="survey-overview-panel">
<div class="inner"><span class="corners-top"><span></span></span>
<h2>{S_SURVEY_CAPTION}</h2>
<!-- IF S_SURVEY_IS_WRITE_OWNER --><a class="genmed" href="{U_CHANGE_OPEN}"><!-- IF S_IS_CLOSED -->{L_SURVEY_REOPEN}<!-- ELSE -->{L_SURVEY_CLOSE}<!-- ENDIF --></a> | <!-- ENDIF --><a class="genmed" id="show-survey-link" href="#" onclick="toggle_survey_table()">{L_SURVEY_SHOW}</a>
<p class="author">{S_DESC}<!-- IF not S_IS_CLOSED --> {S_WILL_CLOSE_DESC}<!-- ENDIF --></p>
<!-- IF S_HIDE_ENTRIES and not S_SURVEY_IS_READ_OWNER --><p class="post-notice"><b>{L_SURVEY_VISIBILITY_HIDE_DESC_USER}</b></p><!-- ELSEIF S_HIDE_ENTRIES --><p class="post-notice"><b>{L_SURVEY_VISIBILITY_HIDE_DESC_OWNER}</b></p><!-- ENDIF -->
<!-- IF S_IS_CLOSED --><p class="post-notice"><b>{S_IS_CLOSED_DESC}</b></p><!-- ENDIF -->
<!-- IF SURVEY_ERRORS -->
<div id="survey-error-box">
	{SURVEY_ERRORS}
</div>
<!-- ENDIF -->

<!-- IF S_HAS_QUESTIONS and (S_SURVEY_CAN_SEE_OR_ADD_ENTRIES or S_CAN_SEE_SUMS) -->
<!-- IF S_CAN_MODIFY_OWN_ENTRY or S_CAN_ADD_ENTRY --><form method="post" action="{S_SURVEY_ACTION}" id="surveyform"><!-- ENDIF -->
<div id="survey-table">
	<div id="survey-table-scrollwrapper">
	<table class="table1" cellspacing="0" cellpadding="4">
		<thead>
			<tr>
				<th>&nbsp;</th>
				<!-- BEGIN questions -->
				<th style="white-space: nowrap" title="<!-- IF questions.EXAMPLE_ANSWER -->{L_SURVEY_EXAMPLE_ANSWER}{L_COLON} {questions.EXAMPLE_ANSWER}<!-- ELSE -->{questions.LABEL}<!-- ENDIF -->">{questions.LABEL}<!-- IF questions.EXAMPLE_ANSWER --> <img src="{S_ROOT_PATH}styles/prosilver/theme/images/icon_faq.gif" alt="{L_SURVEY_EXAMPLE_ANSWER}{L_COLON} {questions.EXAMPLE_ANSWER}"><!-- ENDIF --><!-- IF S_SURVEY_IS_WRITE_OWNER --> <a href="{questions.DELETE_LINK}" class="gen"><img src="{S_ROOT_PATH}styles/prosilver/theme/images/icon_delete_cookies.gif" alt="{L_SURVEY_DELETE_QUESTION}"></a><!-- ENDIF --></th>
				<!-- END questions -->
			</tr>
		</thead>
		<tbody>
		<!-- DEFINE $SPACEROW = 0 -->
		<!-- IF S_SURVEY_CAN_SEE_OR_ADD_ENTRIES -->
			<!-- BEGIN entries -->
			<!-- DEFINE $SPACEROW = 1 -->
			<tr <!-- IF !entries.IS_SELF -->class="survey_hidemobile"<!-- ENDIF -->>
				<td>
				<!-- IF entries.IS_ADDUSER -->
					<input class="text medium" id="username" name="answer_adduser_username" type="text">
					<br />[<a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a>]
				<!-- ELSE -->
					<!-- IF S_SHOW_USERNAMES or entries.IS_SELF -->
						{entries.USERNAME_FULL}
					<!-- ELSE -->
						<i>{L_SURVEY_HIDDEN}</i>
					<!-- ENDIF -->
					<!-- IF not entries.IS_NEW and ( S_SURVEY_IS_WRITE_OWNER or (entries.IS_SELF and S_CAN_MODIFY_OWN_ENTRY) ) -->
						<a href="{entries.DELETE_LINK}" class="gen"><img src="{S_ROOT_PATH}styles/prosilver/theme/images/icon_delete_cookies.gif" alt="{L_SURVEY_DELETE_ANSWER}"></a>
					<!-- ENDIF -->
				<!-- ENDIF -->
				</td>
				<!-- IF (entries.IS_SELF and S_CAN_MODIFY_OWN_ENTRY) or (not entries.IS_NEW) or S_CAN_ADD_ENTRY or entries.IS_ADDUSER -->
					<!-- BEGIN questions -->
						<!-- IF entries.questions.IS_SET -->
						<!-- DEFINE $CLASS = 'class="survey_q_input set-bg"' -->
						<!-- ELSEIF expr2 -->
						<!-- DEFINE $CLASS = 'class="survey_q_input unset-bg"' -->
						<!-- ENDIF -->
						<!-- DEFINE $ALWAYS_SAME = 'name="{entries.questions.S_INPUT_NAME}" {$CLASS}' -->
						<td {$CLASS} style="color: black;">
							<!-- IF S_SURVEY_IS_WRITE_OWNER or (entries.IS_SELF and S_CAN_MODIFY_OWN_ENTRY) or (entries.IS_NEW and S_CAN_ADD_ENTRY) or entries.IS_ADDUSER -->
								<!-- IF entries.questions.TYPE_STRING == 'NORMAL_TEXT_BOX' -->
									<input {$ALWAYS_SAME} type="text" <!-- IF entries.questions.IS_SET -->value="{entries.questions.VALUE}"<!-- ENDIF --> />
								<!-- ELSEIF entries.questions.TYPE_STRING == 'LARGE_TEXT_BOX' -->
									<textarea {$ALWAYS_SAME} rows="3" cols="35" style="width:100px"><!-- IF entries.questions.IS_SET -->{entries.questions.VALUE}<!-- ENDIF --></textarea>
								<!-- ELSEIF entries.questions.TYPE_STRING == 'NUMBER' -->
									<input {$ALWAYS_SAME} type="number" step="any" <!-- IF entries.questions.IS_SET -->value="{entries.questions.VALUE}"<!-- ENDIF --> />
								<!-- ELSEIF entries.questions.TYPE_STRING == 'CHECKBOX' -->
									<input {$ALWAYS_SAME} type="checkbox" value="1" <!-- IF entries.questions.VALUE == '1' -->checked="checked"<!-- ENDIF --> />
								<!-- ELSEIF entries.questions.TYPE_STRING in ['DROP_DOWN_MENU', 'MULTIPLE_CHOICE']  -->
									<select {$ALWAYS_SAME}<!-- IF entries.questions.TYPE_STRING == 'MULTIPLE_CHOICE' --> multiple size="{entries.questions.SELECT_MULTIPLE_HEIGHT}"<!-- ENDIF -->>
									<!-- IF entries.questions.TYPE_STRING == 'DROP_DOWN_MENU' -->
									<option value="none">---</option>
									<!-- ENDIF -->
									<!-- BEGIN entries.questions.choices -->
									<option value="{entries.questions.choices.C_ID}"{entries.questions.choices.SELECTED}>{entries.questions.choices.TEXT}</option>
									<!-- END entries.questions.choices -->
									</select>
								<!-- ELSEIF entries.questions.TYPE_STRING in ['DATE', 'TIME', 'DATETIME', 'DATETIME_LOCAL'] -->
									<!-- DEFINE $TYP = '{entries.questions.TYPE_STRING}' -->
									<!-- IF entries.questions.TYPE_STRING == 'DATETIME_LOCAL' --><!-- DEFINE $TYP = 'datetime-local' --><!-- ENDIF -->
									<input {$ALWAYS_SAME} type="{$TYP}" <!-- IF entries.questions.IS_SET -->value="{entries.questions.VALUE}"<!-- ENDIF --> />
								<!-- ELSE -->
									<input {$ALWAYS_SAME} type="text" <!-- IF entries.questions.IS_SET -->value="{entries.questions.VALUE}"<!-- ENDIF --> />
								<!-- ENDIF -->
							<!-- ELSEIF not entries.IS_NEW -->
								<!-- IF entries.questions.TYPE_STRING == 'CHECKBOX' -->
									<input type="checkbox" value="1" disabled="disabled"<!-- IF entries.questions.VALUE == '1' -->checked="checked"<!-- ENDIF --> />
								<!-- ELSEIF entries.questions.TYPE_STRING == 'MULTIPLE_CHOICE' -->
									<select multiple disabled size="{entries.questions.SELECT_MULTIPLE_HEIGHT}">
									<!-- BEGIN entries.questions.choices -->
									<option{entries.questions.choices.SELECTED}>{entries.questions.choices.TEXT}</option>
									<!-- END entries.questions.choices -->
									</select>
								<!-- ELSE -->
									{entries.questions.VALUE}
								<!-- ENDIF -->
							<!-- ENDIF -->
						</td>
					<!-- END questions -->
				<!-- ENDIF -->
			</tr>
			<!-- END entries -->
		<!-- ENDIF -->
		<!-- IF (S_CAN_SEE_SUMS or S_CAN_SEE_AVERAGES) and (S_SURVEY_IS_READ_OWNER or not S_HIDE_EVERYTHING) -->
			<!-- IF $SPACEROW == 1 -->
				<tr style="border-bottom: 3px double black;">
					<td class="spacerow"></td>
					<!-- BEGIN questions -->
					<td class="spacerow"></td>
					<!-- END questions -->
				</tr>
			<!-- ENDIF -->
			<!-- IF S_CAN_SEE_SUMS -->
				<tr>
					<td>{L_SURVEY_SUM}<!-- IF S_SOME_CAP_SET --> ({L_SURVEY_CAP})<!-- ENDIF -->{L_COLON}</td>
					<!-- BEGIN questions -->
						<td<!-- IF questions.HAS_CHOICES --> title="<!-- BEGIN choices -->{questions.choices.TEXT}{L_COLON}&nbsp;{questions.choices.SUM}&#013;<!-- END choices -->"<!-- ENDIF -->>
						<div class="summary-box">
							<div class="<!-- IF questions.CAP_REACHED -->cap-reached<!-- ELSE -->summary<!-- ENDIF -->" ><!-- IF questions.HAS_CHOICES --><img src="{S_ROOT_PATH}styles/prosilver/theme/images/icon_topic_poll.gif" alt="{L_SURVEY_CHOICES}">&nbsp;<!-- ENDIF -->{questions.SUM_STRING}<!-- IF questions.CAP > 0 --> ({questions.CAP})<!-- ENDIF --></div>
						</div>
						</td>
					<!-- END questions -->
				</tr>
			<!-- ENDIF -->
			<!-- IF S_CAN_SEE_AVERAGES -->
				<tr>
					<td>{L_SURVEY_AVERAGE}{L_COLON}</td>
					<!-- BEGIN questions -->
						<td>
						<div class="summary-box">
							<div class="summary" >{questions.AVERAGE_STRING}</div>
						</div>
						</td>
					<!-- END questions -->
				</tr>
			<!-- ENDIF -->
		<!-- ENDIF -->
		</tbody>
	</table>
	</div><!--scrollwrapper ende-->
	<!-- IF S_CAN_MODIFY_OWN_ENTRY or S_CAN_ADD_ENTRY -->
	{S_FORM_TOKEN}
	<input type="hidden" name="entries_to_modify" value="{S_SURVEY_MODIFYABLE_ENTRIES}" />
	<input type="hidden" name="{S_SURVEY_ACTION_NAME}" value="entry_modification" />
	<input class="button1" type="submit" name="post" value="{L_SUBMIT}" />
	<!-- ENDIF -->
</div>
<!-- IF S_CAN_MODIFY_OWN_ENTRY or S_CAN_ADD_ENTRY --></form><!-- ENDIF -->
<!-- ENDIF -->
	<span class="corners-bottom"><span></span></span></div>
</div>


<!-- IF S_SURVEY_IS_WRITE_OWNER -->
<div class="panel bg3" id="settings-panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<p>{SURVEY_SETTINGS_EXPLAIN}</p>
	
	<fieldset class="fields1">
		<form method="post" action="{S_SURVEY_ACTION}">
			<fieldset>
				{S_FORM_TOKEN}
				<input type="hidden" name="{S_SURVEY_ACTION_NAME}" value="config_change" />
				<dl>
					<dt><label for="survey_setting_caption">{L_SURVEY_CAPTION}{L_COLON}</label></dt>
					<dd><input id="survey_setting_caption" type="text" name="survey_setting_caption" value="{S_SURVEY_CAPTION}" /></dd>
				</dl>
				<dl>
					<dt><label for="survey_setting_show_order">{L_SURVEY_SHOW_ORDER}{L_COLON}</label></dt>
					<dd><select id="survey_setting_show_order" name="survey_setting_show_order">
					<!-- BEGIN show_order -->
					<option value="{show_order.NUM}"<!-- IF show_order.SELECTED --> selected="selected"<!-- ENDIF -->>{show_order.DESC}</option>
					<!-- END show_order -->
					</select></dd>
				</dl>
				<dl>
					<dt><label for="survey_setting_allow_change_answer">{L_SURVEY_ALLOW_CHANGE_ANSWER}{L_COLON}</label></dt>
					<dd><input id="survey_setting_allow_change_answer" type="checkbox" value="1" name="survey_setting_allow_change_answer"<!-- IF S_SURVEY_ALLOW_CHANGE_ANSWER --> checked="checked"<!-- ENDIF --> /></dd>
				</dl>
				<dl>
					<dt><label for="survey_setting_allow_multiple_answer">{L_SURVEY_ALLOW_MULTIPLE_ANSWER}{L_COLON}</label></dt>
					<dd><input id="survey_setting_allow_multiple_answer" type="checkbox" value="1" name="survey_setting_allow_multiple_answer"<!-- IF S_SURVEY_ALLOW_MULTIPLE_ANSWER --> checked="checked"<!-- ENDIF --> /></dd>
				</dl>
				<dl>
					<dt><label for="survey_setting_visibility">{L_SURVEY_VISIBILITY_DESC}{L_COLON}</label></dt>
					<dd><select id="survey_setting_visibility" name="survey_setting_visibility">
					<!-- BEGIN visibility -->
					<option value="{visibility.NUM}"<!-- IF visibility.SELECTED --> selected="selected"<!-- ENDIF -->>{visibility.DESC}</option>
					<!-- END visibility -->
					</select></dd>
				</dl>
				<dl>
					<dt><label for="survey_setting_stop_time">{L_SURVEY_STOP_TIME}{L_COLON}</label></dt>
					<dd><input id="survey_setting_stop_time" type="text" name="survey_setting_stop_time" value="{S_SURVEY_STOP_TIME}" /></dd>
				</dl>
				<!-- IF S_SURVEY_IS_MODERATOR -->
				<dl>
					<dt><label for="survey_setting_topic_poster_right">{L_SURVEY_TOPIC_POSTER_RIGHT_DESC}{L_COLON}</label></dt>
					<dd><select id="survey_setting_topic_poster_right" name="survey_setting_topic_poster_right">
					<!-- BEGIN topic_poster_right -->
					<option value="{topic_poster_right.NUM}"<!-- IF topic_poster_right.SELECTED --> selected="selected"<!-- ENDIF -->>{topic_poster_right.DESC}</option>
					<!-- END topic_poster_right -->
					</select></dd>
				</dl>
				<!-- ENDIF -->
				<input class="button1" type="submit" name="post" value="{L_SUBMIT}" />
			</fieldset>
		</form>
	</fieldset>

	<hr class="dashed"/>

	<h3>{L_SURVEY_DELETE_EXPLAIN}</h3>
	
	<fieldset class="fields1">
		<form method="post" action="{S_SURVEY_ACTION}">
			<fieldset>
				{S_FORM_TOKEN}
				<input type="hidden" name="{S_SURVEY_ACTION_NAME}" value="disable">
				<dl>
					<dt><label>{L_SURVEY_DISABLE}{L_COLON}</label></dt>
					<dd>
						<input class="button1" type="submit" name="post" value="{L_SURVEY_RUN}" /><br />
						{L_SURVEY_DISABLE_EXPLAIN}
					</dd>
				</dl>
			</fieldset>
		</form>
				
		<form method="post" action="{S_SURVEY_ACTION}">
			<fieldset>
				{S_FORM_TOKEN}
				<input type="hidden" name="{S_SURVEY_ACTION_NAME}" value="delete">
				<dl>
					<dt><label>{L_SURVEY_DELETE_ALL}{L_COLON}</label></dt>
					<dd>
						<input class="button1" type="submit" name="post" value="{L_SURVEY_RUN}" /><br />
						{L_SURVEY_DELETE_ALL_EXPLAIN}
					</dd>
				</dl>
			</fieldset>
		</form>
	</fieldset>

	<span class="corners-bottom"><span></span></span></div>
</div>

<div class="panel bg3" id="manage-questions-panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<fieldset class="fields2">

		<form method="post" action="{S_SURVEY_ACTION}">
			<fieldset>
				{S_FORM_TOKEN}
				<input type="hidden" name="{S_SURVEY_ACTION_NAME}" value="question_load_modify">
				<dl>
					<dt><label>{L_SURVEY_QUESTION_MODIFY}{L_COLON}</label></dt>
					<dd><select id="survey_load_modify_question" name="survey_load_modify_question">
					<option value="-1">---</option>
					<!-- BEGIN questions -->
					<option value="{questions.Q_ID}"<!-- IF questions.LOADED --> selected="selected"<!-- ENDIF -->>{questions.LABEL}</option>
					<!-- END questions -->
					</select></dd>
					<dd>
					<input class="button1" type="submit" name="post" value="{L_SURVEY_QUESTION_LOAD}" />
					</dd>
				</dl>
			</fieldset>
		</form>

		<hr class="dashed"/>

		<h3>{L_SURVEY_MANAGE_QUESTIONS_DESC}</h3>

		<form method="post" action="{S_SURVEY_ACTION}" id="survey_question">
			<fieldset>
				<!-- IF S_SURVEY_LOADED_QUESTION --><input type="hidden" name="question_to_modify" value="{S_SURVEY_LOADED_QUESTION_ID}" />
				<!-- ENDIF --><input type="hidden" name="{S_SURVEY_ACTION_NAME}" value="question_addition_or_modification">
				{S_FORM_TOKEN}
				<dl>
					<dt><label for="question_label">{L_SURVEY_LABEL}{L_COLON}</label></dt>
					<dd><input id="question_label" type="text" name="question_label"<!-- IF S_SURVEY_LOADED_QUESTION --> value="{S_SURVEY_LOADED_QUESTION_LABEL}"<!-- ENDIF --> /></dd>
				</dl>
				<dl>
					<dt><label for="question_example_answer">{L_SURVEY_EXAMPLE_ANSWER}{L_COLON}</label></dt>
					<dd><input id="question_example_answer" type="text" name="question_example_answer"<!-- IF S_SURVEY_LOADED_QUESTION --> value="{S_SURVEY_LOADED_QUESTION_EXAMPLE_ANSWER}"<!-- ENDIF --> /></dd>
				</dl>
				<dl>
					<dt><label for="question_type">{L_SURVEY_TYPE}{L_COLON}</label></dt>
					<dd><select id="question_type" name="question_type">
					<!-- BEGIN question_type -->
					<option value="{question_type.NUM}"<!-- IF question_type.SELECTED --> selected="selected"<!-- ENDIF -->>{question_type.DESC}</option>
					<!-- END question_type -->
					</select></dd>
				</dl>
				<dl>
					<dt><label for="question_random_choice_order" title="{L_SURVEY_RANDOM_CHOICE_ORDER_DESC}">{L_SURVEY_RANDOM_CHOICE_ORDER}{L_COLON} <img src="{S_ROOT_PATH}styles/prosilver/theme/images/icon_faq.gif" alt="{L_SURVEY_RANDOM_CHOICE_ORDER_DESC}"></label></dt>
					<dd><input id="question_random_choice_order" type="checkbox" value="1" name="question_random_choice_order"<!-- IF S_SURVEY_LOADED_QUESTION and S_SURVEY_LOADED_QUESTION_RANDOM_CHOICE_ORDER --> checked="checked"<!-- ENDIF --> /></dd>
				</dl>
				<dl>
					<dt><label for="question_choices" title="{L_SURVEY_CHOICES_DESC}">{L_SURVEY_CHOICES}{L_COLON} <img src="{S_ROOT_PATH}styles/prosilver/theme/images/icon_faq.gif" alt="{L_SURVEY_CHOICES_DESC}"></label></dt>
					<dd><input id="question_choices" type="text" name="question_choices"<!-- IF S_SURVEY_LOADED_QUESTION --> value="{S_SURVEY_LOADED_QUESTION_CHOICES}"<!-- ENDIF --> /></dd>
				</dl>
				<dl>
					<dt><label for="question_sum_type">{L_SURVEY_SUM_TYPE}{L_COLON}</label></dt>
					<dd><select id="question_sum_type" name="question_sum_type">
					<!-- BEGIN question_sum_type -->
					<option value="{question_sum_type.NUM}"<!-- IF question_sum_type.SELECTED --> selected="selected"<!-- ENDIF -->>{question_sum_type.DESC}</option>
					<!-- END question_sum_type -->
					</select></dd>
				</dl>
				<dl>
					<dt><label for="question_sum_by" title="{L_SURVEY_SUM_BY_DESC}">{L_SURVEY_SUM_BY}{L_COLON} <img src="{S_ROOT_PATH}styles/prosilver/theme/images/icon_faq.gif" alt="{L_SURVEY_SUM_BY_DESC}"></label></dt>
					<dd><input id="question_sum_by" type="text" name="question_sum_by"<!-- IF S_SURVEY_LOADED_QUESTION --> value="{S_SURVEY_LOADED_QUESTION_SUM_BY}"<!-- ENDIF -->/></dd>
				</dl>
				<dl>
					<dt><label for="question_average" title="{L_SURVEY_AVERAGE_DESC}">{L_SURVEY_AVERAGE}{L_COLON} <img src="{S_ROOT_PATH}styles/prosilver/theme/images/icon_faq.gif" alt="{L_SURVEY_AVERAGE_DESC}"></label></dt>
					<dd><input id="question_average" type="checkbox" value="1" name="question_average"<!-- IF S_SURVEY_LOADED_QUESTION and S_SURVEY_LOADED_QUESTION_AVERAGE --> checked="checked"<!-- ENDIF --> /></dd>
				</dl>
				<dl>
					<dt><label for="question_cap" title="{L_SURVEY_CAP_DESC}">{L_SURVEY_CAP}{L_COLON} <img src="{S_ROOT_PATH}styles/prosilver/theme/images/icon_faq.gif" alt="{L_SURVEY_CAP_DESC}"></label></dt>
					<dd><input id="question_cap" type="number" name="question_cap"<!-- IF S_SURVEY_LOADED_QUESTION --> value="{S_SURVEY_LOADED_QUESTION_CAP}"<!-- ENDIF -->/></dd>
				</dl>

				<!-- IF S_SURVEY_LOADED_QUESTION -->
				<input class="button1" type="submit" name="survey-submit-question-modify" value="{L_SURVEY_QUESTION_MODIFY}" />
				<input class="button1" type="submit" name="post" value="{L_SURVEY_QUESTION_ADD_AS_NEW}" />
				<!-- ELSE -->
				<input class="button1" type="submit" name="post" value="{L_SUBMIT}" />
				<!-- ENDIF -->
			</fieldset>
		</form>
	</fieldset>

	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->

</div>

<script type="text/javascript">
<!--
	subPanels(show_panel);
-->
</script>

<hr/>
